@media (max-width:900px) {
    .collection-container{
        grid-template-columns: 1fr 1fr ;
        place-items: center;
        /* margin: 00 auto ; */
        /* max-width: 700px; */
    }
}

@media (max-width:576px) {
    .main-header {
        justify-content: space-between;
        font-size: 2em;
    }

    .nav {
        display: none;
    }

    #menu {
        display: inline;
    }

    .hero-banner {
        flex-direction: column-reverse;
    }

    .hero-banner-img {
        display: flex;
        margin: 00 auto;
        width: 100%;
        justify-content: center;
        /* background-size: cover; */
        /* align-items: center; */
    }

    .hero-banner-text {
        width: 100%;
        align-items: center;
        /* text-align: center; */
        /* justify-content: center; */

    }

    .hero-banner-text h1 {
        font-size: 7em;
        text-align: center;
    }

    .hero-banner-text p {
        font-size: 4em;
        text-align: center;
    }

    .hero-banner-text button {
        width: 50%;
    }

    /* logo-section */
    .logo-img {

        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        /* flex-direction: column; */
        /* gap: 2vh; */
        /* text-align: center; */
        /* justify-content: center; */
    }
    @keyframes slide {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    .track{
        animation: slide 20s linear infinite;
    }
    .collection-container{
        grid-template-columns: 1fr;
    
        place-items: center;
    }
    .collection-items{
        width: ;
    }
}

