body {
    background-color: white;
    margin: 00px;
    padding: 00px;
    font-size: 1vw;

}

/* shared styles  */
.flex {
    display: flex;
}

.btn {
    padding: 0.4vh 2vw;
    background:#E02C6D;
    width: 16vw;
    border-radius: 10px;
    border: 2px solid #E02C6D;
}

/* header styles */

.main-header {
    justify-content: space-between;
    padding: 1vh 1vw;
    align-items: center;
    margin: 2vh 2vw;
    /* gap: 40vw; */
    background: lightseagreen;

}

nav {
    align-items: center;
    gap: 2vw;
    /* gap: 34px; */
}

.main-header h1 {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
}

#menu {
    display: none;
}

nav p {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}

.main-header i {
    color: rgb(58, 58, 58);
    margin-right: 2vw;
    font-size: 1.6em;
    font-weight: 600;
    text-align: left;
}

/* hero banner section  */
.hero-banner {
    margin: 00 auto;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    /* height: calc(100% - 4vh); */
    /* height: 550px; */
}

.hero-banner-text {
    width: 60%;
    flex-direction: column;
    /* align-items: center */
    /* height: 100%; */

}

.hero-banner-img {
    width: 30%;
    align-items: center;
    /* background-image: url(./images/Circle\ design.svg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* height: 100%; */
}

.hero-banner-text h1 {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
}

.hero-banner-text p {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
}

.hero-banner-img img {
    width: 80%;
    background-image: url(./images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
}