body {
    background-color: #aaaaaa;
    margin: 00px;
    padding: 00px;
    font-size: 1vw;
    font-family: "poppins";

}

/* shared styles  */
.flex {
    display: flex;
}

.btn {
    padding: 0.4vh 2vw;
    background: #E02C6D;
    width: 16vw;
    border-radius: 10px;
    border: 2px solid #E02C6D;
}

/* header styles */

.main-header {
    justify-content: space-between;
    padding: 1vh 1vw;
    align-items: center;
    margin: 2vh 2vw;
    /* gap: 40vw; */
    /* background: lightseagreen; */

}

nav {
    align-items: center;
    gap: 2vw;
    /* gap: 34px; */
}

.main-header h1 {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

#menu {
    display: none;
}

nav p {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}

.main-header i {
    color: rgb(58, 58, 58);
    margin-right: 2vw;
    font-size: 1.6em;
    font-weight: 600;
    text-align: left;
}

/* hero banner section  */
.hero-banner {
    margin: 00 auto;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    /* height: calc(100% - 4vh); */
    /* height: 550px; */
}

.hero-banner-text {
    width: 60%;
    flex-direction: column;
    /* align-items: center */
    /* height: 100%; */

}

.hero-banner-img {
    width: 30%;
    align-items: center;
    /* background-image: url(./images/Circle\ design.svg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* height: 100%; */
}

.hero-banner-text h1 {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
}

.hero-banner-text p {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
}

.hero-banner-img img {
    width: 80%;
    background-image: url(./images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* logo-section */
.logo {
    max-width: 90vw;
    margin: 4vh auto;
    overflow: hidden;
    
}

.logo-img {
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    text-align: center;
    gap: 16px;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-28.5%);
    }

    /* Shows 5 of 7 at a time */
}

.track {
    animation: slide 20s linear infinite;
}

/* collection section styles */
    .collection h2{
        text-align: center;
        font-size: 30px;
        font-weight: 800px;
        text-transform: capitalize;
    }
    .collection-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 6px;
        
    }
        .collection-items{
            width: 280px;
            height: 400px;
            flex-direction: column;
            gap: 10px;
            border: 2px solid white;
            background:#ffffff;
            border-radius: 10px;

        }
        .collection-img{
        margin: 10px auto;
            /* align-items: center; */
            /* justify-content: center; */
            width: 260px;
            height: 220px;
        }
        .collection-img img{
            margin: 00 auto;
            width: 100%;
        }
        .collection-item-text{
            flex-direction: column;
        }
        .collection-ratings{
            align-items: center;
            margin: 2px 15px;
        }
        .collection-item-text h1{
            margin: 0px 15px;
            font-size: 30px;
            font-weight: 700;
            text-transform: capitalize;
        }
        .collection-item-text p{
            margin: 0px 15px;
        }
        .price{
            font-size: 24px;
            font-weight: 600;
        }